<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="/assets/logo.png" type="image/png" />
    <title>Cozinheira de mão cheia</title>

    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/head.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/responsiveness.css" />
    <link rel="stylesheet" href="/styles/about.css" />
  </head>
  <body>
    <%- include('parts/page-header') %>

    <main class="container-geral">
      <h2>Sobre</h2>

      <div class="container about-container">
        <div>
          <img src="/assets/Sobre.jpeg" alt="" />
        </div>
        <div class="about">
          <p>
            Edineta Borges dos Santos, também conhecida como neta ou tia neta.
            Começou a cozinhar desde sua infância para ajudar seus pais e
            irmãos.
          </p>
          <p>
            E aos 25 anos, não estava tão bem financeiramente e queria uma renda
            extra, então, começou levando alguns bolos para a praça da cidade.
            No começo, ela pensou milhares de vezes em desistir, mas se manteve
            de pé com a ajuda do seu marido.
          </p>
          <p>
            No entanto, para sua surpresa, a sua renda extra se tornou o seu
            trabalho e sua paixão.
          </p>
          <p>
            Por fim, hoje ela consegue ver o quanto evoluiu com cada encomenda.
            E sempre fazer com amor e qualidade.
          </p>
        </div>
      </div>
    </main>
    <%- include('parts/page-footer') %>
  </body>
</html>
