<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="/assets/logo.png" type="image/png" />
    <title>Cozinheira de mão cheia</title>

    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/head.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/responsiveness.css" />
    <link rel="stylesheet" href="/styles/cakes.css" />
  </head>
  <body>
    <%- include('parts/page-header') %>

    <main class="container cakes">
      <h2>Bolos</h2>
      <div class="photos"></div>
      <div class="most-photos">
        <a href="#" class="verMais">Ver mais</a>
      </div>
    </main>

    <%- include('parts/page-footer') %>
    <script src="/scripts/cakes.js"></script>
  </body>
</html>
