<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="/assets/logo.png" type="image/png" />
    <title>Cozinheira de mão cheia</title>

    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/head.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/responsiveness.css" />
    <link rel="stylesheet" href="/styles/contact.css" />
  </head>
  <body>
    <%- include('parts/page-header') %>

    <h2>Contato</h2>

    <main class="container contact">
      <div class="container-contact">
        <div>
          <img src="/assets/house.svg" alt="Ícone de um hotel" class="icones" />
        </div>
        <div class="contacts">
          <div>
            <p>
              Rua José Avelino Bezerra 269<br />
              Bela Vista<br />
              Picos, PI 64601045<br />
              Brasil
            </p>
          </div>
        </div>
      </div>

      <div class="container-contact">
        <div>
          <img src="/assets/chat.svg" alt="Ícone de um chat" class="icones" />
        </div>
        <div class="contacts">
          <a href="https://www.facebook.com/edineta.borges" target="_blank"
            ><img src="/assets/facebook.svg" alt="Ícone do facebook"
          /></a>
          <a
            href="https://instagram.com/cozinheira_de_mao_cheia?utm_medium=copy_link"
            target="_blank"
            ><img src="/assets/instagram.svg" alt="Ícone do instagram"
          /></a>
          <a
            href="https://api.whatsapp.com/send?phone=+5589988216403"
            target="_blank"
            ><img src="/assets/whatsapp.svg" alt="Ícone do whatsapp"
          /></a>
        </div>
      </div>
    </main>

    <%- include('parts/page-footer') %>
  </body>
</html>
