<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="/assets/logo.png" type="image/png" />
    <title>Cozinheira de mão cheia</title>

    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/head.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/responsiveness.css" />
    <link rel="stylesheet" href="/styles/savory.css" />
  </head>
  <body>
    <%- include('parts/page-header') %>

    <main class="container bolos">
      <h2>Salgados</h2>
      <div class="bolo-principal">
        <img src="/assets/pg-salgados1.jpeg" alt="Fotos de salgados" />
      </div>
      <div class="bolos-fotos">
        <img
          src="/assets/pg-salgados1.jpeg"
          alt="Fotos de salgados"
          class="active"
          onclick="troca(0)"
        />
        <img
          src="/assets/pg-salgados3.jpeg"
          alt="Fotos de salgados"
          onclick="troca(1)"
        />
        <img
          src="/assets/pg-salgados4.jpeg"
          alt="Fotos de salgados"
          onclick="troca(2)"
        />
      </div>

      <table>
        <thead>
          <tr>
            <th>Tamanho</th>
            <th>Preço</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Meio centro</td>
            <td>R$ 30</td>
          </tr>
        </tbody>

        <tfoot>
          <tr>
            <td>Centro</td>
            <td>R$ 60</td>
          </tr>
        </tfoot>
      </table>
      <a href="/contact.html">Contato</a>
    </main>

    <%- include('parts/page-footer') %>
    <script src="/scripts/savory.js"></script>
  </body>
</html>
