<header>
  <div class="container">
    <h1><a href="/">Cozinheira de Mão Cheia</a></h1>
    <ul>
      <li><a href="/savory">Salgados</a></li>
      <li><a href="/cakes">Bolos</a></li>
      <li><a href="/pizza">Pizza</a></li>
      <li><a href="/about">Sobre</a></li>
      <li><a href="/contact">Contato</a></li>
    </ul>
  </div>
</header>
