/* Geral */

:root {
  --color-a-p: #fff;
  --bg-color: #fcecdd;
  --bg_header-bg_footer-color: #6b4f4f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: min(100vw, 1200px);
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

h2 {
  font-size: 2.375rem;
  text-align: center;
}

h2::after {
  content: '';
  display: block;

  height: 0.1rem;
  width: 13rem;

  margin: 0.5rem auto 0 auto;
  background-color: var(--bg_header-bg_footer-color);
}

.separador img {
  margin: 40px 0;
  width: 100vw;
}

/* body ########################### */

body {
  background-color: var(--bg-color);
  color: var(--bg_header-bg_footer-color);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--color-a-p);
}
