@media (max-width: 800px) {
  header div {
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 430px) {
  .container {
    width: min(90vw, 980px);
  }

  h1 {
    text-align: center;
  }

  ul {
    justify-content: center;
  }
}

@media (max-width: 200px) {
  h2 {
    font-size: 1rem;
  }

  h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
  }

  ul {
    flex-direction: column;
    align-items: center;
  }

  ul li {
    margin-top: 10px;
  }

  main a {
    padding: 12px;
  }

  .cycle {
    width: 10px;
    height: 10px;
  }
}
